<!DOCTYPE html>
<html>
<head>
	<title>Playing with Dynamic Tabs</title>
	<link rel="stylesheet" href="style.css">
	<script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
</head>
<body>
	<div id="todo-tabs">
		<button
			v-for="tab in todoTabs"
			v-bind:key="tab"
			v-bind:class="['tab-button', {active: currentTab === tab }]"
			v-on:click="currentTab = tab"
		>
			{{ tab }}
		</button>
		<div class="tab">
			<form v-on:submit.prevent="addTodo">
				<label for="addTodo">Add task:</label>
				<input 
					placeholder="E.g. dishes" 
					id="addTodo"
					v-model="todoText"
				>
				<button>Add</button>
			</form>
			<ul>
				<li
					is="todo-list"
					v-for="(todo, index) in todos[currentTab]"
					v-on:remove="todos[currentTab].splice(index, 1)"
					v-bind:todo="todo"
					v-bind:key="index"
				></li>
			</ul>
		</div>
	</div>
	<script src="index.js"></script>
</body>
</html>